@import 'variables.scss';

.fw112-logo {
	font-weight: bolder;
	text-transform: uppercase;
	transition: $transition-default;
}

[data-bs-theme=dark] {
	.fw112-logo {
		color: rgb(255, 255, 0);
		&:hover {
			color: rgb(255, 8, 0);
		}
	}
}


[data-bs-theme=light] {
 	.fw112-logo {
		color: rgb(255, 8, 0);
		&:hover {
			color: blue;
		}
	}
}



